body {
    font-family: "PT Sans";
    font-size: 10pt;
    color: #58595B;
    background: url(../img/bg.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

a {
    text-decoration: none;
}

hr {
    background-color: #e5e3d4;
    border: 0 none;
    color: #e5e3d4;
    height: 1px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: local("PT Sans"), local("PTSans-Regular"), url("http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff") format("woff");
}

/* FORM */

#loginForm {
    width: auto;
}

#uploadForm {
    width: 340px;
}

.controls:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.controls {
    margin-bottom: 20px;
}

form .controls:last-child {
    margin: 0;
}

.controls label {
    float: left;
    margin-right: 20px;
}

.controls input {
    float: right;
    padding: 8px;
    font-family: 'PT Sans';
    font-size: 10pt;
    width: 150px;
    border: 1px solid #E5E5E5;
    color: #58595B;
}

.controls textarea {
    float: right;
    border: 1px solid #E5E5E5;
    padding: 10px;
    font-family: 'PT Sans';
    font-size: 10pt;
    color: #58595B;
    width: 150px;
    height: 150px;
}

.wAuto {
    width: auto !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a3a4a8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a3a4a8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a3a4a8;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #a3a4a8;
}

/* CONTENT */

#modalLogin {
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    float: right;
    color: #58595B;
}

.inner {
    padding: 20px;
}

.inner > span {
    color: #74818E;
    display: block;
    font-size: 12pt;
}

.gn-trigger img {
    margin-top: 15px;
}

.gn-menu .ip {
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
}

.gn-menu a {
    padding: 0 0 0 4em;
}

#modalUpload {
    background-color: #FFFFFF;
    margin: 50px auto 0;
    padding: 20px;
    width: 400px;
    -webkit-box-shadow: 1px 1px 20px #000000;
    -moz-box-shadow: 1px 1px 20px #000000;
    box-shadow: 1px 1px 20px #000000;
}

.notif {
    margin-bottom: 20px;
}

.warning {
    color: #FF0000;
}

.success {
    color: #7ebd26;
}

#modalGallery {
    background-color: #FFFFFF;
    margin: 50px;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px #000000;
    -moz-box-shadow: 1px 1px 20px #000000;
    box-shadow: 1px 1px 20px #000000;
}

.picture {
    width: auto;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.picture img:hover {
    -webkit-box-shadow: 1px 1px 5px #000000;
    -moz-box-shadow: 1px 1px 5px #000000;
    box-shadow: 1px 1px 5px #000000;
}

#modalPhoto {
    position:absolute;
    left:0;
    right:0;
    top: 0;
    text-align: center;
    margin-top: 100px;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
}

#modalPhoto img {
    background-color: #FFFFFF;
    max-height: 650px;
    -webkit-box-shadow: 1px 1px 20px #000000;
    -moz-box-shadow: 1px 1px 20px #000000;
    box-shadow: 1px 1px 20px #000000;
}

#modalPhoto .icon-remove {
    position: absolute;
    width: 25px;
    left: 0;
    top: 0;
    color: #000000;
    padding: 0px 3px;
    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer;
}

.modal-backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
    filter:alpha(opacity=80);
}

/* BUTTONS */

.btn-flat {
    padding: 5px 10px;
    font-size: 10pt;
    border: 0;
    color: #FFFFFF !important;
    -webkit-transition: all 0.30s ease-in-out 0s;
    -moz-transition: all 0.30s ease-in-out 0s;
    -ms-transition: all 0.30s ease-in-out 0s;
    -o-transition: all 0.30s ease-in-out 0s;
    transition: all 0.30s ease-in-out 0s;
    cursor: pointer;
    width: auto !important;
}

.btn-flat-blue {
    background-color: #52A8EC;
}

.btn-flat-green {
    background-color: #70C67F;
}

.btn-flat-grey {
    background-color: #3C454F;
}

.btn-flat-grey-light {
    background-color: #F6F6F6;
    color: #7ebd26;
}

.btn-flat-red {
    background-color: #DE6262;
}

.btn-flat-brown {
    background-color: #B9582D;
}

.btn-flat-white {
    background-color: #FFFFFF;
    color: #262626;
    border: 1px solid #CFCFCF;
}

.btn-flat:hover {
    background-color: #58595B;
}

.btn-flat-white:hover {
    background-color: #FFFFFF;
}

.btn-none {
    background: none;
    border: none;
    cursor: pointer;
}

/* PAGINATION */

.page_navigation {
    padding-top: 10px;
}

.page_navigation a {
    padding: 2px 5px;
    font-size: 10pt;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    -webkit-transition: all 0.30s ease-in-out 0s;
    -moz-transition: all 0.30s ease-in-out 0s;
    -ms-transition: all 0.30s ease-in-out 0s;
    -o-transition: all 0.30s ease-in-out 0s;
    transition: all 0.30s ease-in-out 0s;
    cursor: pointer;
    background-color: #E5E5E5;
}

.page_navigation a:hover {
    background-color: #58595B;
}

.page_navigation a.active_page,a.next_link,a.last_link,a.first_link,a.previous_link {
    background-color: #58595B;
}

.page_navigation a.no_more {
    background-color: #E5E5E5;
}